.Factories {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   color: white
}
.Factories h1 {
    font-family: 'Hammersmith One', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 64px;
}

.factoryList {
    display: flex;
    align-items: center;
    justify-content: center;
}
.Factories .list {
    position: relative;
width: 277.51px;
height: 300px;
display: flex;
flex-direction: column;
margin: 50px;
align-items: center;
background: rgba(0, 90, 0, 0.685);
border-radius: 12px;
}
a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.Factories .list img {
    /* position: absolute; */
width: 243.6px;
height: 180.21px;
object-fit: cover;
margin-top: 20px;
border-radius: 22px;
cursor: pointer;
}
.Factories .list h3 {
    /* position: absolute; */
text-align: center;
font-size: 24px;
margin : 20px 0px;
}